<!DOCTYPE HTML>
<html>
<head>
  <title>FitData</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
  <link href = "css/styles.css" rel = "stylesheet">
</head>
<body>
  <!-- HEADER -->
  <nav class="navbar navbar-dark bg-inverse">

    <div class="navbar-toggleable-xs" id="exCollapsingNavbar2">
      <a class="navbar-brand" href="/">FitData</a>
      <ul class="nav navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

      </ul>
    </div>
  </nav>
  <div class = "container" style = "margin-bottom: 30px;">
    <br>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">Create Research Project</h1>
        <p class="lead">Create a research project that answers a main research question using survey questions to collect data</p>
      </div>
    </div>
    <div class = "col-md-8 col-md-offset-2">
      <form id ="askquestionForm" role="form" method="get" action="/submitquestion">
        <!-- Choose a category -->
        <div class = "form-group" style="margin-bottom: 40px;">
          <p>Category</p>
          <select class = "form-control" id = "exampleSelect1" name ="categories">
            <option value="weight-loss">Weight Loss</option>
            <option value="weight-gain">Weight Gain</option>
            <option value="exercise">Exercise</option>
            <option value="lifestyle">Lifestyle</option>
          </select>
        </div>
        <hr>

        <!-- Step 1 -->
        <div class = "form-group" style = "margin-top: 30px; margin-bottom: 40px;">
          <p>Step 1. Create main reseach question</p>
          <textarea class = "form-control" id="exampleTextArea" rows="5" name ="question0"></textarea>
        </div>
        <hr>

        <!-- Step 2 -->
        <p style = "margin-top: 40px;"> Step 2. Create survey qustions</p>
        <div id = "SRQButton" style="margin-bottom: 40px;">
          <!--<p style="color: red;" id = "submust"> &#42; Step 2. Create survey questions</p>-->
          <button id="addSRQId" type ="button" value ="addSRQ" onclick="addSRQ()" class ="btn btn-warning">Add survey question</button>
        </div>
        <hr>

        <!-- Author's name -->
        <div class = "form-group" style = "margin-top: 30px; margin-bottom: 30px;">
          <p>Author's Name</p>
          <input type="text" class="form-control" name="name" value="{{selfinfo.age}}">
        </div>

        <div class ="ask-button">
          <a href = "/">  <button type="button" class="btn btn-danger question-size">Quit</button></a>
          <button type="submit" value ="done" class="btn btn-primary question-size" id = "asksubmit" style ="display: none;">Submit</button>
        </div>
      </form>
    </div>

  </div>

  <!-- Choose a category -->

  <!-- Main research question -->

  <!-- Subresearch quesiton -->


  <!--<a href = "/reviewquestion.html">  <button type="button" class="btn btn-default">Done Creating a Question</button></a>-->
  <!-- FOOTER -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
  <script src = "/js/askquestion.js"></script>
</body>
