body {
	background-color: white;
}

.login-panel {
	margin-top: 80px;
	margin-bottom: 80px;
}

.login-form {
	margin: 0 auto;
	max-width: 400px;
	padding: 15px 40px 50px;
	background-color: black;
}

.login-header {
	font-size: 50px;
}

.form-control {
	padding: 10px;
	position: relative;
	font-size: 20px;
	height: auto;
}

.unInput {
	margin-bottom: 20px;
}

.pwInput {
	margin-bottom: 20px;
}


.progress {border-radius:25px; }

.weight-gain {background-color: #0275d8;}



.sleep {background-color: #5bc0de}

.lifestyle {background-color: orange;}

.nutrition {background-color: green;}

.fitness {background-color: brown;}


/* Answer question styling */

.left-option {
	float: left;
	width: 78%;
	font-size: 0.8em;
	height: 40px;
}

.right-option {
	height: 45px;
	float: right;
	width: 20%;
	font-size: 0.8em;
}

.question-section {
	margin-bottom: 100px;
}

.question-size {
	font-size: 0.8em;
}

.question-other {
	margin-top: 30px;
}

.question-group {
	margin-top: 80px;
}


/* Previous Contributions styling */

.previous-questions {
	margin-bottom: 55px;
}

.previous-questions h4  {
	padding-left: 20px;
}

.previous-questions p {
	padding-left: 20px;
	padding-right: 20px;
}

.previous-photo {
	width: 90%;
	margin-top: 30px;
}
